{% extends "blog/base.html" %}
{% load static %}
{%  block content %}

    <!-- Main Content -->
    <div class="main-content">
        <!-- left-colume content-->
        <div class="left-colume">

            <div class="tags">
                <h3 class="tag-headling">Tags</h3>
                <div class="sidebar-nav">
                    <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#python</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#azure</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#docker</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#aws</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#machinelearning</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#Software</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#aws</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#machinelearning</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#Software</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#aws</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#machinelearning</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#Software</div>
                    <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                </div>
            </div>
        </div>

        <!-- middle-colume content -->
        <div class="middle-colume">

            <!-- search-icon to display in media query -->
            <div class="middle-colume-search">
                <input type="search" id="gsearch" name="gsearch" placeholder="Search...">
                <i class="ri-search-line search-icon"></i>
                <!-- <img src="images/shareBabe.svg" alt="search" class="share-search input-link"> -->
            </div>

            <div class="community-post">
                <h2 class="community-name">DevWithCode</h2>
                <div class="community-post-headline">
                    <img src="images/author.jpg">
                    <h4>Lorem ipsum dolor sit, amet consectetur adi elit. Pariatur sit sapiente consequuntur, nemo iste esse vel eligendi voluptatem necessitatibus ut impedit fugiat reprehenderit fugit architecto.</h4>
                </div>
            

                <div class="community-tags">
                    <h5>Code 👌</h5>
                    <h5>Fix Bugs 🐛</h5>
                    <h5>Documentation 📚</h5>
                    <h5>Production 🚀</h5>
                </div>
                <p>Create Account</p>
            </div>
            
            {% for post in posts %}
                <div class="post">
                    <div class="author-profile">
                        <div class="author-image">
                            <a href="#"><img src="{{ post.image.url }}" alt="author"></a>
                        </div>
                        <div class="author-name">
                            {% with author=post.author %}
                                <a href="#"><p>{{ author.first_name}} {{ author.last_name}}</p></a>
                            <p class="post-date">Apr 11, 2023</p>
                            {% endwith %}
                        </div> 
                    
                    </div>
                    <div class="post-header">
                        <a href="{% url 'blog:post_detail' post.slug %}">
                            <h4>{{ post.title }}</h4>
                        </a>
                    </div>
                    <div class="post-tags">
                        {% for tag in tags %}
                            <a class="post-tag-chrome" href="#"><span>#</span>{{ tag }}</a>
                        {% endfor %}
                    </div>

                    <div class="comment-share">
                        <div class="post-comment">
                            <a href="#">
                                <img src="{% static 'images/commentIcon.svg' %}" alt="comment" class="post-comment-icon">
                                <p>Add Comment</p>
                            </a>
                        </div>
                        <div class="post-share">
                            <a href="#"><img src="{% static 'images/share_2.svg' %}"></a>
                        </div>
                    </div>
                
                </div>
        {% endfor %}



            <div class="load-post">
                <a href="#"><p>Load More</p></a>
            </div>
            
        </div>


        <!--left-colume content-->
        <div class="right-colume">
            <div class="left-icons">
                <a href="#"><img src="images/coloTwitter.svg"></a>
                <a href="#"><img src="images/coloFacebok.svg"></a>
                <a href="#"><img src="images/coloGithub.svg"></a>
                <a href="#"><img src="images/coloTwitch.svg"></a>
            </div>

        </div>
    </div>
{% endblock %}