{% extends "blog/base.html" %}
{% load static %}
{%  block content %}
    <!-- Main Content -->
    <div class="main-content">
        <!-- left-colume content-->
        <div class="left-colume">

            <div class="tags">
                
                <h3 class="tag-headling">Popular Tags</h3>
                <div class="sidebar-nav">
                    {% for tag in tags %}
                    <div  id="default-sidebar" class="sidebar-nav-element">#{{ tag }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- middle-colume content -->
        <div class="middle-colume">

             <!-- search-icon to display in media query -->
             <div class="middle-colume-search"  id="mid-search">
                <input type="search" id="gsearch" name="gsearch" placeholder="Search...">
                <i class="ri-search-line search-icon" id="icon"></i>
            </div>

            <div class="community-post">
                <h2 class="community-name">DevWithCode</h2>
                <div class="community-post-headline">
                    <img src="{% static 'images/postImage.jpg'%}">
                    <h4>
                        Welcome to 📚 DevWithCode 🚀!
                        <br>
                        I'm so glad you're here. This is a place where I share my thoughts and ideas, showcase my work, and connect with other like-minded people.</h4>
                </div>
               

                <div class="community-tags">
                    <h5>Code 👌</h5>
                    <h5>Articles ✍️</h5>
                    <h5>Documentation 📚</h5>
                    <h5>Production 🚀</h5>
                </div>
                <p>Create Account</p>
            </div>

            
            {% for post in posts %}
                <div class="post">
                    <div class="author-profile">
                        <div class="author-image">
                            <a href="#"><img src="{{ post.author.profile_image.url }}" alt="author"></a>
                           
                        </div>
                        <div class="post-author-details">
                            {% with author=post.author %}
                                <a href="#"><p>{{ author.first_name}} {{ author.last_name}}</p></a>
                                <p class="post-date">{{ post.publish}}</p>
                            {% endwith %}
                     
                        </div>
                       
                    </div>
                    <div class="post-header">
                        <a href="{% url 'blog:post_detail' post.slug %}">
                            <h4>{{ post.title | capfirst }}</h4>
                        </a>
                    </div>
                    <div class="post-tags">
                        {% for post in post.tags.all %}
                            <a class="post-tag-chrome" href="#"><span>#</span>{{ post }}</a>
                        {% endfor %}
                    </div>

                    <div class="comment-share">
                        <div class="post-comment">
                            <a href="#">
                                <img src="{% static 'images/commentIcon.svg' %}" alt="comment" class="post-comment-icon">
                                <p>Add Comment</p>
                            </a>
                        </div>
                        <div class="post-share">
                            <a href="#"><img src="{% static 'images/share_2.svg' %}"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}



            <div class="load-post">
                <a href="#"><p>Load More</p></a>
            </div>
            
        </div>


         <!--left-colume content-->
         <div class="right-colume">

         </div>
    </div>
{% endblock %}