:root{
    --navBar-color: #f7f4f3;
    --footer-Color: #23377E;
    --buttons: #1b7ce3;
    --dim-textColors: #f4f4f4;
    --website-backgroundColor: #F0ECEA;
    --main-buttons: rgb(240, 236, 234);
    --middleColume-backgroundColor:  #F9F9FA;
}



html {
    font-size: 62.5%;
    
}

* {
    margin: 0;
    box-sizing: border-box;
    
}


body {
    margin: 0;
    font-family: "poppins";
    /* background-color: #F3F4EF; */
    background-color: var(--website-backgroundColor);
    
}

header{
    background-color: var(--navBar-color);
    width: 100%;
    /* height: 5.5em; */
    height: 8em;
    display: flex;
    padding: 2rem 7rem;
    justify-content: space-between;
   
    align-items: center;
    position: fixed;
    z-index: 1; 
}

.logo{
    display: flex;
    gap: 1.5em;
    margin-left: 3em;
    width: 50rem;
}

.search{
    display: flex;
    position: relative;

}

.search input{
    width: 40rem;
    height: 40px;
    font-family: inherit;
    font-size: 1.9rem;
    text-align: left;
    text-decoration: none;

    
}

.search img{
    color: brown;
    position: absolute;
    right: 1em;
    top: 1em;
    
}

.subheader-search img{
    color: brown;
    position: absolute;
    /* right: 1em; */
    /* top: 1em; */
    display: none! important;
    
}

.subheader{
    text-align: right;
}

/* .subheader nav ul{
    display: flex;
    gap: 3em;
} */


.subheader{
    display: flex;
    gap: 3em;
    align-items: center;
}

.subheader nav ul{
    display: flex;
    gap: 3em;
}




.subheader nav ul li a{
    text-decoration: none;
    font-family: "Caudex", sans-serif;
    font-size: 1.7rem;
    color: black;
    white-space: nowrap;
}

 li{
    list-style: none;
 }

.subheader .create-account-link{
    padding: 6px;
    border: 1px solid blue;
    border-radius: 5px;
    white-space: nowrap;
}

.subheader nav .create-account-link:hover{
    background-color: var(--buttons);
    color: #f1f1f1;
    text-decoration: underline;
    transition: .5s;
}

.main-content{
    margin-left: 10em;
    margin-right: 7em;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
}


.left-colume {
    margin: 60px 0px;
    width: 15%; 
}

.left-colume h3{
    font-size: 18px;
    font-family: "Caudex", sans-serif;
    font-weight: 300;
    color: black;
    padding-bottom: 10px;

}

.tag-headling{
    color: red;
    
}

.tags{
    /* border: 1px solid; */
    /* border-radius: 5px; */
    word-wrap: break-word;
    padding-bottom: 10px;
}

.sidebar-nav {
    /* background: #002240; */
    /* position: fixed; */
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    height: 50vh;
}



.sidebar-nav-element{
    font-size: 16px;
    padding-top: 17px;
    padding-left: 8px;
    align-items: center;
    text-align: center;
    display: block;

}

.sidebar-nav-element:hover{
    background-color: gray;
    border-radius: 4px;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.middle-colume{
    margin: 90px 0;
    
    border-radius: 5px;
    width: 55%;
}

.community-post{
    
    padding-top: 10px;
    margin-bottom: 8px;
    /* background-color: #FCFCF6; */
    background-color: var(--middleColume-backgroundColor);
    border-radius: 10px;
    /* padding-bottom: 10px; */
    /* padding-right: 15px; */
    overflow: auto;
}
.community-post .community-name{
    padding-top: 15px;
    padding-left: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.community-post-headline{
    padding: 15px 45px;
    align-items: center;
    font-size: 25px;
    font-weight: bold;


}

.community-post-headline img{
    width: 100%;
    height: 28rem;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 7px;
}

.community-post-headline h4{
    font-size: 20px;
    font-family: "Caudex", sans-serif;
    font-weight: 800;
}

.community-post .community-tags{
    padding-left: 5px;
}

.community-tags {
    border-radius: 5px;
    margin: 0px 45px;
    /* background-color: #E8E5C8; */
    background-color: #94818A;
    
}

.community-tags h5{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    line-height: 150%;
}

.community-post p{
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
    border-radius: 5px;
    padding: 10px;
    float: right;
    background-color: #f4f4f4;
}

.community-post p:hover{
    background-color: var(--main-buttons);
    text-decoration: underline;
}

.middle-colume .post{
    /* background-color: #FCFCF6;*/
    background-color: var(--middleColume-backgroundColor);
    padding-top: 15px;
    padding-left: 25px;
    border-radius: 10px;
}

.post{
    margin-bottom: 8px;
   
}



.author-profile{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.author-profile .author-image img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.author-name{
    line-height: 190%;
}

.author-name a{
    text-decoration: none;
}

.author-name p{
    font-size: 13px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: inherit;
    max-height: 16px;
    text-overflow: ellipsis;
    color: rgb(41, 41, 41);
    cursor: pointer;
    text-decoration: none;
    
}

.author-name .post-date{
    font-size: 12px;
    color: #969CA3;
    font-family: sans-serif;
    font-weight: 500;
}

.post-header{
    padding: 3px 45px;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
}

.post-header a{
    text-decoration: none;
}

.post-header a h4{
    text-decoration: none;
    list-style: none;
    color: rgb(41, 41, 41);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.post-tags{
    display: flex;
    padding: 1px 45px;
    align-items: center;
    
    gap: 15px;
    /* background-color: red; */
    height: 30px;
    position:relative;
    
}

.post-tags a{
    font-size: 15px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(117, 117, 117);
    line-height: 20px;
    font-weight: 400;
    max-height: 40px;
    /* color: red; */
    cursor: pointer;
    text-decoration: none;
    /* margin: 10px; */
    /* position:absolute; */
    
    
}

.post-tags a:hover{
    background: transparent;
    border-radius: 0.378rem;
    
}

/* .post-tags p:hover{
    border: 1px solid gray;
    border-radius: 0.375rem;
    background-color: #969CA3;
    
} */

.post-tag-chrome{
    background: transparent;
    
    /* border-radius: 0.378rem; */
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.comment-share{
    display: flex;
    justify-content: space-between;
    padding: 0px px;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 10px;
}

.post-comment a{
    display: flex;
    text-align: center;
    line-height: 1.5rem;
    /* align-items: center; */
    gap: 5px;
    text-decoration: none;
    /* padding: 6px 9px; */
    cursor: pointer;
    overflow-wrap: normal;
   
}

.post-comment a:hover{
    background-color: rgba(27, 124, 227, .5);
    border-radius: 0.375rem;
    /* padding: 6px 9px; */
}

.post-comment img{
    max-width: 22px;
    max-width: 22px;
    cursor: pointer;
}


.post-comment p{
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgb(117, 117, 117);
    overflow-wrap: normal;
    white-space: nowrap;
    cursor: pointer;
    
}

.post-share a img{
    max-width: 36px;
    max-height: 36px;

    padding: 6px 9px;
    /* color: rgb(5, 5, 203); */
    cursor: pointer;
}

.post-share a img:hover{
    background-color: rgba(27, 124, 227, .5);
    border-radius: 0.375rem;
}

.load-post a {
    text-decoration: none;
}

.load-post a p{
    font-size: 20px;
    text-align: center;
    
    color: black;
    font-family: inherit;
    /* background-color: gray; */

    /* border: 1px solid lightgray; */
    cursor: pointer;

    margin-top: 50px;
    /* margin-left: 25rem;
    margin-right: 25rem; */
    padding: 5px;
    border-radius: 5px;
}

.load-post a p:hover{
    background-color: #969CA3;
    transition: .3s;
}



.right-colume{
    margin: 60px 0px;
    width: 30%;
}

.left-icons {
    background-color: red;
}


/* footer section  */
footer{
    height: 15rem;
    background-color: #2D313A;
    text-align: center;
}


.footer-nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    
}

.website-slogan {
    font-size: 16px;
    padding-top: 35px;
    color: #F4F3EE;
    letter-spacing: 2px;
}

.footer-website-name {
    color: #F6A241;
}
footer ul li a{
    font-size: 1.8rem;
    text-decoration: none;
    color: #34A5AC;
}
.signarture{
    font-size: 14px;
    color: #f1f1f1;
}



@media (min-width: 481px) and (max-width: 768px) {
    body {
      background-color: green;
    }
  }




@media (min-width: 320px) and (max-width: 480px) {
    body {
        /* background-color:red; */
    }

    header{
        background-color: var(--navBar-color);
        width: 100%;
        /* height: 5.5em; */
        height: 6em;
        /* display: flex; */
        padding: 2rem 0rem;
        /* justify-content: space-between; */
       
        align-items: center;
        position: fixed;
        z-index: 1; 
    }

    .logo{
        display: flex;
        /* gap: 1.5em; */
        margin-left: 1em;
        /* width: 50rem; */
    }

    .search input {
        display: none! important;
    }

    .search img{
        display: none! important;
    }

    .subheader-search img{
        color: brown;
        /* left: 0; */
        right: 14em;
        top: 1.2em;
        margin-right: 1em;
        padding: 0.8em;
        border-radius: 0.578em;
        background-color: #85b4e7;
        cursor: pointer;
        display: block! important;

        /* background-color: red; */
    }

    .subheader-search img:hover{
        background-color: #5293d7;
        transition: .5s;
    }

    .home-link{
        display: none! important;
    }

    .portfolio-link{
        display: none! important;
    }
    .sign-in-link{
        display: none! important;
    }

    .create-account-link{
        padding: 6px;
        margin-right: 10px;
        border: 1px solid blue;
        border-radius: 5px;
        white-space: nowrap;
    }





    .community-post-headline h4{
        font-size: 16px;
        font-family: "Caudex", sans-serif;
        font-weight: 500;
    }

    .community-tags {
        border-radius: 5px;
        /* margin: 0px 45px; */
        
        /* background-color: #E8E5C8; */
        background-color: #94818A;
        
    }
    
    .community-tags h5{
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        line-height: 150%;
    }

    /* main content  on small device */
    .main-content{
        margin-left: 0px;
        margin-right: 0px;
    }

    /* middle content  on small device */
    .middle-colume{
        width: 100%;
    }

    .middle-colume .post{
        padding-left: 10px;
        padding-top: 15px;
        margin: 8px 0;
    }


    /* post content on small device */
    .author-profile{
        padding: 0px 5px;
    }

    .author-name .post-date{
        font-size: 10px;
        color: #969CA3;
        font-family: sans-serif;
        font-weight: 500;
    }

    .post-header{
        padding: 3px 5px;
        align-items: center;
        /* font-size: 19px; */
        /* font-weight: bold; */
    }

    .post-header a h4{
        text-decoration: none;
        list-style: none;
        color: rgb(41, 41, 41);
        font-size: 15px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0px;
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    }

    .post-comment p{
        display: none;
    }

    .post-tags{
        display: flex;
        padding: 1px 5px;
        align-items: center;
        gap: 15px;
        height: 30px;
        position:relative;
    }

    .post-tags a{
        font-size: 13px;
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: rgb(117, 117, 117);
        line-height: 20px;
        font-weight: 400;
        /* max-height: 40px; */
        cursor: pointer;
        text-decoration: none; 
    }

    .comment-share{
        display: flex;
        justify-content: space-between;
        /* padding: 0px 0px; */
        align-items: center;
        padding-bottom: 15px;
        margin-top: 10px;
    }

    .post-comment a{
        display: flex;
        text-align: center;
        line-height: 1.5rem;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        padding: 6px 5px;
        cursor: pointer;
        overflow-wrap: normal;
       
    }

    .post-share{
        /* background-color: blanchedalmond; */
        margin-right: 10px;
    }

    .post-share a img{
        max-width: 36px;
        max-height: 36px;
        cursor: pointer;
        
    }

    .post-tags a:hover{
        background-color: gray;
    }

    .load-post{
        background-color: gray;
        text-align: center;
        margin-left: 18rem;
        margin-right: 18rem;
        border-radius: 0.375rem;
    }
    .load-post a p{
        font-size: 13px;
        text-align: center;
        color: white;
        font-family: inherit;
        white-space: nowrap;
    }


    /* left colume content  on small device */
    .left-colume{
        display: none! important;
    }

    /* right colument content on small device */
    .right-colume{
        display: none! important;
    }

    /* footer section on small device  */
    .website-slogan {
        font-size: 14px;
        padding-top: 35px;
        color: #F4F3EE;
        letter-spacing: 2px;
    }

    footer ul li a{
        font-size: 1.5rem;
        text-decoration: none;
        color: #34A5AC;
    }

    .signarture{
        font-size: 13px;
        color: #f1f1f1;
    }

}
