{% extends "blog/base.html" %}
{% load static %}
{%  block content %}

<form method="post" class="regsss">
    {% csrf_token %}

    <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
  
    <input type="password" class="form-control" name="password1" placeholder="Enter your password" required>

    <input type="password" class="form-control"  name="password2" placeholder="Confirm your password" required>

    <button type="submit" class="btn btn-primary">Sign in</button>

</form>



{% endblock %}