<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript, Python, Docker, AWS">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--=============== REMIXICON ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="js/index.js"></script>
    <title>DevWithCode | Home</title>
</head>
<body>
    <div class="wrapper">
        <!-- navigation section -->
        <header>
            <!-- blog log and search icon section -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
            <div class="logo">
                <div class="main-logo">
                    <a href="#"><img src="images/blog_logo.svg" alt="logo" ></a>
                </div>
                <div class="search">
                    <input type="search" id="gsearch" name="gsearch">
                    <i class="ri-search-line search-icon"></i>
                </div>
            </div>

            <div class="subheader">
                <!-- search-icon to display in media query -->
                 <!-- <div class="subheader-search">
                    <img src="images/shareBabe.svg" alt="search" class="share-search input-link">
                </div> -->
                <!-- navigation list -->
                <nav>
                    <ul>
                        <li><a href="#" class="home-link">Home</a></li>
                        <li><a href="#" class="portfolio-link">Portfolio</a></li>
                        <li><a href="#" class="sign-in-link">Sign-In</a></li>
                        <li><a href="#" class="create-account-link">Create account</a></li>
                        
                    </ul>
                </nav>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="main-content">
            <!-- left-colume content-->
            <div class="left-colume">

                <div class="tags">
                    <h3 class="tag-headling">Tags</h3>
                    <div class="sidebar-nav">
                        <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#python</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#azure</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#docker</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#aws</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#machinelearning</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#Software</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#aws</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#machinelearning</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#Software</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#aws</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#machinelearning</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#Software</div>
                        <div  id="default-sidebar" class="sidebar-nav-element">#django</div>
                    </div>
                </div>
            </div>

            <!-- middle-colume content -->
            <div class="middle-colume">

                <!-- search-icon to display in media query -->
                <div class="middle-colume-search">
                    <input type="search" id="gsearch" name="gsearch" placeholder="Search...">
                    <i class="ri-search-line search-icon"></i>
                    <!-- <img src="images/shareBabe.svg" alt="search" class="share-search input-link"> -->
                </div>

                <div class="community-post">
                    <h2 class="community-name">DevWithCode</h2>
                    <div class="community-post-headline">
                        <img src="images/author.jpg">
                        <h4>Lorem ipsum dolor sit, amet consectetur adi elit. Pariatur sit sapiente consequuntur, nemo iste esse vel eligendi voluptatem necessitatibus ut impedit fugiat reprehenderit fugit architecto.</h4>
                    </div>
                   

                    <div class="community-tags">
                        <h5>Code 👌</h5>
                        <h5>Fix Bugs 🐛</h5>
                        <h5>Documentation 📚</h5>
                        <h5>Production 🚀</h5>
                    </div>
                    <p>Create Account</p>
                </div>
                

                <div class="post">
                    <div class="author-profile">
                        <div class="author-image">
                            <a href="#"><img src="images/author.jpg" alt="author"></a>
                        </div>
                        <div class="author-name">
                            <a href="#"><p>James Kiki</p></a>
                            <p class="post-date">Apr 11, 2023</p>
                        </div>
                       
                    </div>
                    <div class="post-header">
                        <a href="#">
                            <h4>Industries Trasformed by the information Systems: Education, Healthcare, News, Travel</h4>
                        </a>
                    </div>
                    <div class="post-tags">
                        <!-- <a href="#"><p>#webdev</p></a>
                        <a href="#"><p>#python</p></a>
                        <a href="#"><p>#django</p></a>
                        <a href="#"><p>#docker</p></a> -->

                        <a class="post-tag-chrome" href="#"><span>#</span>python</a>
                        <a class="post-tag-chrome" href="#"><span>#</span>javascript</a>
                        <a class="post-tag-chrome" href="#"><span>#</span>chatgpt</a>
                    </div>

                    <div class="comment-share">
                        <div class="post-comment">
                            <a href="#">
                                <img src="images/commentIcon.svg" alt="comment" class="post-comment-icon">
                                <p>Add Comment</p>
                            </a>
                        </div>
                        <div class="post-share">
                            <a href="#"><img src="images/share_2.svg"></a>
                        </div>
                    </div>
                   
                </div>

                <div class="post">
                    <div class="author-profile">
                        <div class="author-image">
                            <a href="#"><img src="images/author.jpg" alt="author"></a>
                        </div>
                        <div class="author-name">
                            <a href="#"><p>James Kiki</p></a>
                            <p class="post-date">Apr 11, 2023</p>
                        </div>
                       
                    </div>
                    <div class="post-header">
                        <a href="#">
                            <h4>Industries Trasformed by the </h4>
                        </a>
                    </div>
                    <div class="post-tags">
                        <!-- <a href="#"><p>#webdev</p></a>
                        <a href="#"><p>#python</p></a>
                        <a href="#"><p>#django</p></a>
                        <a href="#"><p>#docker</p></a> -->

                        <a class="post-tag-chrome" href="#"><span>#</span>python</a>
                        <a class="post-tag-chrome" href="#"><span>#</span>javascript</a>
                        <a class="post-tag-chrome" href="#"><span>#</span>chatgpt</a>
                    </div>

                    <div class="comment-share">
                        <div class="post-comment">
                            <a href="">
                                <img src="images/commentIcon.svg" alt="comment" class="post-comment-icon">
                            <p>Add Comment</p>
                            </a>
                        </div>
                        <div class="post-share">
                            <a href="#"><img src="images/share_2.svg"></a>
                        </div>
                    </div>
                   
                </div>
                <div class="post">
                    <div class="author-profile">
                        <div class="author-image">
                            <a href="#"><img src="images/author.jpg" alt="author"></a>
                        </div>
                        <div class="author-name">
                            <a href="#"><p>James Kiki</p></a>
                            <p class="post-date">Apr 11, 2023</p>
                        </div>
                       
                    </div>
                    <div class="post-header">
                        <a href="#">
                            <h4>Industries Trasformed by the information Systems: Education, Healthcare, News, Travel</h4>
                        </a>
                    </div>
                    <div class="post-tags">
                        <!-- <a href="#"><p>#webdev</p></a>
                        <a href="#"><p>#python</p></a>
                        <a href="#"><p>#django</p></a>
                        <a href="#"><p>#docker</p></a> -->

                        <a class="post-tag-chrome" href="#"><span>#</span>python</a>
                        <a class="post-tag-chrome" href="#"><span>#</span>javascript</a>
                        <a class="post-tag-chrome" href="#"><span>#</span>chatgpt</a>
                    </div>

                    <div class="comment-share">
                        <div class="post-comment">
                            <a href="">
                                <img src="images/commentIcon.svg" alt="comment" class="post-comment-icon">
                            <p>Add Comment</p>
                            </a>
                        </div>
                        <div class="post-share">
                            <a href="#"><img src="images/share_2.svg"></a>
                        </div>
                    </div>
                   
                </div>

                <div class="load-post">
                    <a href="#"><p>Load More</p></a>
                </div>
                
            </div>

           
           

            <!--left-colume content-->
            <div class="right-colume">
                <div class="left-icons">
                    <a href="#"><img src="images/coloTwitter.svg"></a>
                    <a href="#"><img src="images/coloFacebok.svg"></a>
                    <a href="#"><img src="images/coloGithub.svg"></a>
                    <a href="#"><img src="images/coloTwitch.svg"></a>
                </div>

            </div>
        </div>
    </div>

    <!-- footer section-->
    <footer>
        <p class="website-slogan"><a href="#" class="footer-website-name">DevWithCode</a>
            - A community that refines your programming journey.
        </p>

        <ul class="footer-nav">
            <li class="footer-nav-link"><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms of use</a></li>
        </ul>

        <div class="signarture">
            @ DevWithCode, Inc. 2023
        </div>
    </footer>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="js/script.js"></script>

</body>
</html>