<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">

     <!--=============== REMIXICON ===============-->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="wrapper">
        <!-- ----------- navigation section ----------------->
        <header>
            <!-- blog log and search icon section -->
            <div class="logo">
                <div class="main-logo">
                    <a href="#"><img src="images/fauxica.svg" alt="logo" ></a>
                </div>
                <div class="search">
                    <input type="search" id="gsearch" name="gsearch">
                    <img src="images/shareBabe.svg" alt="search" class="share-search input-link">
                </div>
            </div>
            <div class="subheader">
                <!-- search-icon to display in media query -->
                 <div class="subheader-search">
                    <img src="images/shareBabe.svg" alt="search" class="share-search input-link">
                </div>
                <!-- navigation list -->
                <nav>
                    <ul>
                        <li><a href="#" class="home-link">Home</a></li>
                        <li><a href="#" class="portfolio-link">Portfolio</a></li>
                        <li><a href="#" class="sign-in-link">Sign-In</a></li>
                        <li><a href="#" class="create-account-link">Create account</a></li>
                        
                    </ul>
                </nav>
            </div>
        </header>

        <!------------------ login section ------------------>
        <div class="login-wrapper">
            <div class="login-container">
                <div class="login-headline-info">
                        <h3>DevwithCode</h3>

                        <div class="signup-link">
                            <p>Don't have an Account?</p>
                            <a href="#" class="signup-button button--flex">
                                Sign up <i class="ri-arrow-right-fill"></i>
                            </a>
                        </div>
                </div>


                <div class="login-info">
                    <div class="login-account-page">
                        <p>Log in to your account</p>

                        <form action="#" class="login-form-new">
                            <div class="login-input-container">
                                <i class="ri-mail-fill icon"></i>
                                <input type="text" placeholder="Email" required>
                            </div>
                        
                            <div class="login-input-container">
                                <i class="ri-lock-line icon"></i>
                                <input type="password" class="password" placeholder="Password" required>
                            </div>
                    
                            <div class="reset-password-container">
                                <a href="#" class="">Don't remember your password?</a>
                            </div>
                            <div class="register">
                                <button type="submit" class="button">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!---------- footer section ------------>
        <footer>
            <p class="website-slogan"><a href="#" class="footer-website-name">DevWithCode</a>
                - A community that refines your programming journey.
            </p>

            <ul class="footer-nav">
                <li class="footer-nav-link"><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms of use</a></li>
            </ul>

            <div class="signarture">
                @ DevWithCode, Inc. 2023
            </div>
        </footer>
    </div>
        
</body>
</html>