<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">

     <!--=============== REMIXICON ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="wrapper">
        <!-- ----------- navigation section ----------------->
        <header>
            <!-- blog log and search icon section -->
            <div class="logo">
                <div class="main-logo">
                    <a href="#"><img src="images/fauxica.svg" alt="logo" ></a>
                </div>
                <div class="search">
                    <input type="search" id="gsearch" name="gsearch">
                    <img src="images/shareBabe.svg" alt="search" class="share-search input-link">
                </div>
            </div>
            <div class="subheader">
                <!-- search-icon to display in media query -->
                 <div class="subheader-search">
                    <img src="images/shareBabe.svg" alt="search" class="share-search input-link">
                </div>
                <!-- navigation list -->
                <nav>
                    <ul>
                        <li><a href="#" class="home-link">Home</a></li>
                        <li><a href="#" class="portfolio-link">Portfolio</a></li>
                        <li><a href="#" class="sign-in-link">Sign-In</a></li>
                        <li><a href="#" class="create-account-link">Create account</a></li>
                        
                    </ul>
                </nav>
            </div>
        </header>

        <!------------------ portfolio section ------------------>
        <section class="portfolio-container">
            <div class="portfolio-card">
                <img src="images/author.jpg"  alt="blog-picture"/>

                <h3>Context Switching Can Improve Developer Performance And Boost</h3>
                <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
                <div class="blog-metadata">
                    <div class="blog-post-date">
                        <i class="ri-calendar-check-line"></i>
                        <div class="date">June, 12</div>
                    </div>

                    <div class="blog-tag">
                        <a href="#" class="blog-tags-icon"><p>python</p></a>
                        <a href="#" class="blog-tags-icon"><p>docker</p></a>
                        <a href="#" class="blog-tags-icon"><p>github</p></a>
                    </div>
                </div> 
            </div>


            <div class="portfolio-card">
                <img src="images/author.jpg"  alt="blog-picture"/>

                <h3>Context Switching Can Improve Developer Performance And Boost</h3>
                <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
                <div class="blog-metadata">
                    <div class="blog-post-date">
                        <i class="ri-calendar-check-line"></i>
                        <div class="date">June, 12</div>
                    </div>

                    <div class="blog-tag">
                        <!-- <div class="tags"> -->
                
                            <p>Python</p>
                            <p>docker</p>
                            <p>github</p>
                        <!-- </div> -->
                    </div>
                </div> 
            </div>


            <div class="portfolio-card">
                <img src="images/author.jpg"  alt="blog-picture"/>

                <h3>Context Switching Can Improve Developer Performance And Boost</h3>
                <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
                <div class="blog-metadata">
                    <div class="blog-post-date">
                        <i class="ri-calendar-check-line"></i>
                        <div class="date">June, 12</div>
                    </div>

                    <div class="blog-tag">
                        <!-- <div class="tags"> -->
                            <p>Python</p>
                            <p>docker</p>
                            <p>github</p>
                        <!-- </div> -->
                    </div>
                </div> 
            </div>


            <div class="portfolio-card">
                <img src="images/author.jpg"  alt="blog-picture"/>

                <h3>Context Switching Can Improve Developer Performance And Boost</h3>
                <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
                <div class="blog-metadata">
                    <div class="blog-post-date">
                        <i class="ri-calendar-check-line"></i>
                        <div class="date">June, 12</div>
                    </div>

                    <div class="blog-tag">
                        <!-- <div class="tags"> -->
                            <p>Python</p>
                            <p>docker</p>
                            <p>github</p>
                        <!-- </div> -->
                    </div>
                </div> 
            </div>



            <div class="portfolio-card">
                <img src="images/author.jpg"  alt="blog-picture"/>

                <h3>Context Switching Can Improve Developer Performance And Boost</h3>
                <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
                <div class="blog-metadata">
                    <div class="blog-post-date">
                        <i class="ri-calendar-check-line"></i>
                        <div class="date">June, 12</div>
                    </div>

                    <div class="blog-tag">
                        <!-- <div class="tags"> -->
                            <p>Python</p>
                            <p>docker</p>
                            <p>github</p>
                        <!-- </div> -->
                    </div>
                </div> 
            </div>


            <div class="portfolio-card">
                <img src="images/author.jpg"  alt="blog-picture"/>

                <h3>Context Switching Can Improve Developer Performance And Boost</h3>
                <p>I used to get a lot of questions about how I managed to land a job in Amazon (part of the FAANG acronym) as an SDE-I </p>
                <div class="blog-metadata">
                    <div class="blog-post-date">
                        <i class="ri-calendar-check-line"></i>
                        <div class="date">June, 12</div>
                    </div>

                    <div class="blog-tag">
                        <!-- <div class="tags"> -->
                            <p>Python</p>
                            <p>docker</p>
                            <p>github</p>
                        <!-- </div> -->
                    </div>
                </div> 
            </div>


            



    




        </section>


        <!---------- footer section ------------>
        <footer>
            <p class="website-slogan"><a href="#" class="footer-website-name">DevWithCode</a>
                - A community that refines your programming journey.
            </p>

            <ul class="footer-nav">
                <li class="footer-nav-link"><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Terms of use</a></li>
            </ul>

            <div class="signarture">
                @ DevWithCode, Inc. 2023
            </div>
        </footer>
    </div>
        
</body>
</html>