<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">

     <!--=============== REMIXICON ===============-->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="wrapper">
        <!-- navigation section -->
        <header>
            <!-- <div class="main-nav"> -->
                <div class="logo">
                    <div class="main-logo">
                        <a href="#"><img src="images/logo2.svg" alt="logo" ></a>
                    </div>
                    <div class="search">
                        <input type="search" id="gsearch" name="gsearch">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
                
                <div class="nav-links-menu">
                    <div class="subheader" id="nav-menu">
                        <nav>
                            <ul>
                                <li><a href="index.html" class="home-link">Home</a></li>
                                <li><a href="porfolio.html" class="portfolio-link">Portfolio</a></li>
                                <li><a href="login.html" class="sign-in-link">Sign-In</a></li>
                                <li><a href="signup.html" class="create-account-link">Create account</a></li>
                            </ul>
                        </nav>
                    </div>

                    <!---- toggle/close icon ---->
                    <div class="toggle-menu">
                        <div class="nav__toggle" id="nav-toggle">
                            <i class="ri-menu-line"></i>
                        </div>
                        <div class="nav__close" id="nav-close">
                            <i class="ri-close-line"></i>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </header>



        <div class="signup-wrapper">
            <div class="signup-container">
                <div class="signup-left-info">
                    <!-- <video  src="vids/vid1.mp4" class="video-slide" autoplay muted loop></video> -->
                    
                    <!-- <div class="content"> -->
                        <h2>DvewithCode</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta tempore, harum ea, sunt,  Itaque qui labore A!</p>
    
                        <div class="blog-objectives">
                            <div class="objective-headline">
                                <i class="ri-checkbox-circle-fill"></i> ML-Accererated Data Labeling
                            </div>
                            <p>Machine learning powered pre-labeling, active toolinh, and quality checks accurately annoate data</p>
                        </div>
    
                        <div class="blog-objectives">
                            <div class="objective-headline">
                                <i class="ri-checkbox-circle-fill"></i> ML-Accererated Data Labeling
                            </div>
                            <p>Machine learning powered pre-labeling, active toolinh, and quality checks accurately annoate data</p>
                        </div>
    
    
                        <div class="blog-objectives">
                            <div class="objective-headline">
                                <i class="ri-checkbox-circle-fill"></i> ML-Accererated Data Labeling
                            </div>
                            <p>Machine learning powered pre-labeling, active toolinh, and quality checks accurately annoate data</p>
                        </div>

                    <!-- </div> -->
                
                </div>



                <div class="signup-right-info">
                    <div class="login-link">
                        <p>Have an Account?</p>
                        <a href="#" class="login-button-link button--flex">
                            Log in <i class="ri-arrow-right-line"></i>
                        </a>
                    </div>

                    <div class="create-account-page">
                        <h2>Create your account</h2>
                        <hr class="line">

                        <div class="agree-terms">
                            <p class="terms-accept">
                                <input type="checkbox" name="checkbox_name" id="checkbox_id">
                                <label for="checkbox_id">I agree to DevWithCode's <a href="#"><span class="privacy">Agreement</span></a> and acknowledge DevWithCode's <a href="#"><span class="privacy">Privacy Policy</span></a></label>
                            </p>
                        </div>

                        <form action="#" class="input-container">
                            <div class="input-field">
                                <input type="text" placeholder="Email" required>
                                <i class="ri-mail-fill icon"></i>
                            </div>
                            
        
                            <div class="input-field">
                                <input type="password" class="password" placeholder="Enter your password" required>
                                <i class="ri-lock-line icon"></i>
                             
                            </div>
                            <div class="input-field">
                                <input type="password" class="password" placeholder="Enter your password" required>
                                <i class="ri-lock-line icon"></i>
                             
                            </div>
                            <div class="register">
                                <button type="submit" class="register-button">Register</button>
                            </div>
                        </form>

                        <a href="#" class="reset-password-link">Forget password ?</a>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

    <!-- footer section-->
    <footer>
        <p class="website-slogan"><a href="#" class="footer-website-name">DevWithCode</a>
            - A community that refines your programming journey.
        </p>

        <ul class="footer-nav">
            <li class="footer-nav-link"><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Terms of use</a></li>
        </ul>

        <div class="signarture">
            @ DevWithCode, Inc. 2023
        </div>
    </footer>

</body>
</html>