       <!-- <div class="main-detail-post">
                <div class="detail-post">
                    <img src="images/author.jpg" alt="post-image" class="post-image">

                    <div class="main-post">
                        <div class="main-post-author">
                            <img src="images/author.jpg" alt="author-image">
                            <div class="author-name">
                                <p>Billy Hewlett</p>
                                <p>Posted on Dec 25 '23</p>
                        </div>

                        <div class="main-post-headline">
                            Supercharger your geolocalized DynamoDB Queries with Z-Order Indexing
                        </div>
                        <div class="main-post-tags">
                            <p>#webdev</p>
                            <p>#python</p>
                            <p>#javascript</p>
                            <p>#docker</p>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore porro aut esse nemo, assumenda cumque aliquid minus debitis rerum quaerat beatae ducimus repellat aliquam magnam omnis voluptatem in vitae et?</p>
                        <br>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa necessitatibus tempora suscipit exercitationem totam laborum voluptatum aperiam numquam odit quos inventore provident id, porro impedit facere officiis minima sit earum expedita? Obcaecati, consectetur in voluptas itaque laudantium deserunt modi doloribus aut distinctio suscipit eveniet nam odio dignissimos eos sint, animi nobis. Repellat consequatur accusantium nostrum animi minus. Ipsa, magnam nihil.</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolores dignissimos asperiores, magnam facere quos voluptas nam adipisci aliquid cupiditate mollitia quo modi ut commodi eius labore sit culpa, veniam optio! Assumenda hic officiis dolorum minima doloribus beatae, ratione sequi nihil? Soluta consequuntur ut odio impedit beatae nesciunt quod autem nulla? Dolorum est delectus eveniet architecto quasi blanditiis totam, voluptatum assumenda. Ab excepturi ipsum expedita quaerat mollitia nisi similique, quo magnam molestiae quos, eveniet totam voluptatum hic dicta modi velit.</p>
                    </div>
                </div>

                <div class="main-post-comments">
                    <h5>Comments (10)</h5>
                    <div class="main-post-comment-user">
                        <img src="images/author.jpg" alt="-comment-user">
                        <textarea name="textarea" rows="5" cols="30" placeholder="Add a comment"></textarea>
                    </div>
                </div>
            </div> -->



            <!-- <div class="main-detail-sidebar">
                <div class="sidebar-post1">
                    <h3>Trending Post</h3>
                    <div class="trending-post">
                        <img src="images/author.jpg" alt="author-image">
                        <div class="trending-post-headline">
                            <h2>How to work with muliple Github Accounts</h2>
                            <div class="trending-post-author-date">
                                <p>Jose Paboss</p>
                                <p>May 24</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="sidebar-post2">
                    <h3>Related Post</h3>
                    <div class="related-post">
                        <img src="images/author.jpg" alt="author-image">
                        <div class="trending-post-headline">
                            <h2>How to work with muliple Github Accounts</h2>
                            <div class="trending-post-author-date">
                                <p>Jose Paboss</p>
                                <p>May 24</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
